<%- model_class = Gadget -%>
<div class="container">
<div class="page-header">
  <h1>Device List</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:make) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th>OS Version</th>
      <th><%= model_class.human_attribute_name(:format) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <!--<th><%= model_class.human_attribute_name(:available) %></th>
      <th><%= model_class.human_attribute_name(:checked_out) %></th>
      <th><%= model_class.human_attribute_name(:checked_in) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @gadgets.each do |gadget| %>
      <tr>
        <td><%= gadget.make %></td>
<<<<<<< HEAD
        <td><%= link_to "#{gadget.model}", @gadget %></td>
=======
        <td><%= link_to "#{gadget.model}", gadget_path(gadget) %></td>
>>>>>>> testing
        <td><%= gadget.os_version %></td>
        <td><%= gadget.format %></td>
        <td><%= gadget.location %></td>
        <!--<td><%= gadget.available %></td>
        <td><%= gadget.checked_out %></td>
        <td><%= gadget.checked_in %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_gadget_path, :class => 'btn btn-primary' %>
</div>